# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.EnrollMeUcsd.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ewang\Desktop\Projects\EnrollMeUcsd\.idea\.idea.EnrollMeUcsd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
